config SOC_NVIDIA_TEGRA124
	bool
	default n
	select HAVE_UART_MEMORY_MAPPED
	select HAVE_UART_SPECIAL
	select HAVE_HARD_RESET
	select HAVE_MONOTONIC_TIMER
	select GENERIC_UDELAY
	select BOOTBLOCK_CONSOLE
	select EARLY_CONSOLE
	select DYNAMIC_CBMEM
	select ARM_BOOTBLOCK_CUSTOM
	select ARCH_BOOTBLOCK_ARM_V4
	select ARCH_VERSTAGE_ARM_V7
	select ARCH_ROMSTAGE_ARM_V7
	select ARCH_RAMSTAGE_ARM_V7
	select ARM_LPAE
	select COLLECT_TIMESTAMPS
	select HAS_PRECBMEM_TIMESTAMP_REGION

if SOC_NVIDIA_TEGRA124

config BOOTBLOCK_CPU_INIT
	string
	default "soc/nvidia/tegra124/bootblock.c"
	help
	  CPU/SoC-specific bootblock code. This is useful if the
	  bootblock must load microcode or copy data from ROM before
	  searching for the bootblock.

choice CONSOLE_SERIAL_TEGRA124_UART_CHOICES
	prompt "Serial Console UART"
	default CONSOLE_SERIAL_UARTA
	depends on CONSOLE_SERIAL_UART

config CONSOLE_SERIAL_UARTA
	bool "UARTA"
	help
	  Serial console on UART A.

config CONSOLE_SERIAL_UARTB
	bool "UARTB"
	help
	  Serial console on UART B.

config CONSOLE_SERIAL_UARTC
	bool "UARTC"
	help
	  Serial console on UART C.

config CONSOLE_SERIAL_UARTD
	bool "UARTD"
	help
	  Serial console on UART D.

config CONSOLE_SERIAL_UARTE
	bool "UARTE"
	help
	  Serial console on UART E.

endchoice

config CONSOLE_SERIAL_UART_ADDRESS
	hex
	depends on CONSOLE_SERIAL_UART
	default 0x70006000 if CONSOLE_SERIAL_UARTA
	default 0x70006040 if CONSOLE_SERIAL_UARTB
	default 0x70006200 if CONSOLE_SERIAL_UARTC
	default 0x70006300 if CONSOLE_SERIAL_UARTD
	default 0x70006400 if CONSOLE_SERIAL_UARTE
	help
	  Map the UART names to the respective MMIO addres.

config TEGRA124_MODEL_TD570D
	bool "TD570D"

config TEGRA124_MODEL_TD580D
	bool "TD580D"

config TEGRA124_MODEL_CD570M
	bool "CD570M"

config TEGRA124_MODEL_CD580M
	bool "CD580M"

# Default to 2GHz, the lowest maximum frequency.
config PLLX_KHZ
	int
	default 2000000 if TEGRA124_MODEL_TD570D
	default 2300000 if TEGRA124_MODEL_TD580D
	default 2100000 if TEGRA124_MODEL_CD570M
	default 2300000 if TEGRA124_MODEL_CD580M
	default 2000000

endif
