config SOC_MEDIATEK_MT8173
	bool
	default n
	select ARM64_BOOTBLOCK_CUSTOM
	select ARCH_BOOTBLOCK_ARM_V8_64
	select ARCH_RAMSTAGE_ARM_V8_64
	select ARCH_ROMSTAGE_ARM_V8_64
	select ARCH_VERSTAGE_ARM_V8_64
	select BOOTBLOCK_CONSOLE
	select DYNAMIC_CBMEM
	select EARLY_CONSOLE
	select HAVE_UART_MEMORY_MAPPED
	select HAVE_UART_SPECIAL
	select SPI_ATOMIC_SEQUENCING
	select HAVE_MONOTONIC_TIMER
	select GENERIC_UDELAY
	select HAVE_INIT_TIMER
	select HAS_PRECBMEM_TIMESTAMP_REGION
	select MEDIATEK_DISPLAY_INIT
	select DEBUG_CBFS
	select HAVE_USB_HUB_HX3
	select HAVE_USB_HUB_RTS5411
	select HAVE_HARD_RESET

if SOC_MEDIATEK_MT8173

config MEDIATEK_DISPLAY_INIT
	bool "initial mediatek display port"
	default n

config HAVE_USB_HUB_HX3
	bool "Initial external Cypress USB Hub HX3"
	default n
	help
	  Initial & config the Cypress USB Hub HX3 via I2C bus

config HAVE_USB_HUB_RTS5411
	bool "Initial external Realtek USB Hub RTS5411"
	default n
	help
	  Initial & config the Realtek USB Hub RTS5411 via I2C bus

config DEBUG_SOC_DRIVER
	bool "The top level switch for soc driver debug message"
	default n
	select DEBUG_MEMORY_DRAM
	select DEBUG_I2C
	select DEBUG_KEY
	select DEBUG_PMIC
	select DEBUG_PMIC_WRAP

config DEBUG_MEMORY_DRAM
	bool "Output verbose DRAM related debug message"
	default n
	help
	  This option enables additional DRAM related debug messages.

config DEBUG_I2C
	bool "Output verbose I2C related debug message"
	default n
	help
	  This option enables I2C related debug message.

config DEBUG_KEY
	bool "Output verbose key related debug message"
	default n
	help
	  This option enables key related debug message.

config DEBUG_PMIC
	bool "Output verbose PMIC related debug message"
	default n
	help
	  This option enables PMIC related debug message.

config DEBUG_PMIC_WRAP
	bool "Output verbose PMIC WRAP related debug message"
	default n
	help
	  This option enables PMIC WRAP related debug message.
endif
