if BOARD_INTEL_SKLRVP

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select BOARD_ROMSIZE_KB_16384
	select CHROMEOS
	select CHROMEOS_RAMOOPS_DYNAMIC
	select CHROMEOS_VBNV_CMOS
	select SOC_INTEL_SKYLAKE

config MAINBOARD_DIR
	string
	default "intel/sklrvp"

config MAINBOARD_PART_NUMBER
	string
	default "Skylake RVP"

config VBOOT_RAMSTAGE_INDEX
	hex
	default 0x3

endif
